<canvas width="640" height="640" id="canvas"></canvas>
<a id="Download">Download</a>
<a id="Preview">Preview</a>
<input type="hidden" id="colors"  />

<div id="menu">
    <%= image_tag("1_background/1.png", ":data-tab" => "background") %>
</div>
<div id="avatar">
	<div id="background">
	   <%= image_tag "1_background/1.png" %>
       <%= image_tag "1_background/2.png" %>
       <%= image_tag "1_background/3.png" %>
	</div>
	<div id="back">
	   <%= image_tag "2_back/1.png" %>
	</div>
	<div id="tail">
		<%= image_tag "3_tail/1.png" %>
	</div>
	<div id="feet">
		<%= image_tag "4_feet/1.png" %>
	</div>
	<div id="shoes">
		<%= image_tag "5_shoes/1.png" %>
	</div>
	<div id="body">
		<%= image_tag "6_body/1.png" %>
	</div>
	<div id="bodydetails">
		<%= image_tag "7_bodydetails/1.png" %>
	</div>
	<div id="head">
		<%= image_tag "8_head/1.png" %>
	</div>
	<div id="skin">
		<%= image_tag "9_skin/1.png" %>
	</div>
	<div id="mouth">
		<%= image_tag "10_mouth/1.png" %>
	</div>
	<div id="costume">
		<%= image_tag "11_costume/1.png" %>
	</div>
	<div id="accessories">
		<%= image_tag "12_accessories/1.png" %>
	</div>
	<div id="hands">
		<%= image_tag "13_hands/1.png" %>
	</div>
	<div id="eyes">
		<%= image_tag "14_eyes/1.png" %>
	</div>
	<div id="mustache">
		<%= image_tag "15_mustache/1.png" %>
	</div>
	<div id="faceaccessories">
		<%= image_tag "16_faceaccessories/1.png" %>
	</div>
	<div id="hats">
		<%= image_tag "17_hats/1.png" %>
	</div>
	<div id="emoticons">
		<%= image_tag "18_emoticons/1.png" %>
	</div>
</div>