<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Tiny Trex</title>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <link rel="shortcut icon" href="/" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="navbar-brand" href="/">The Tiny Trex</a>
        <%= link_to 'Home', root_path, class: 'nav-link' %>
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </nav>
    </header>
    <div id="content">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy;The Tiny Trex <span class="glyphicon glyphicon-heart"></span></span>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script>
      $('#avatar').Cubexy();
    </script>
    <script>
    $('#menu img').click(function(){
      $('.tab-active').removeClass('tab-active');
      $(this).addClass('tab-active');
      $('#avatar >div').hide();
      $('#avatar >div#'+$(this).attr('data-tab')).show();
      });
      $('#avatar >div').hide();
      $('#avatar >div#background').show();
    </script>
  </body>
</html>